<h3>
   Please fill this entire form to add a new user
</h3>
<div class="mat-elevation-z8">
   <p><span>*</span> These fields are required</p>
   <form #formInfo="ngForm" class="add-user-form">
      <table class="add-user-full-width" cellspacing="0">
         <tr>
            <!-- First Name field -->
            <td>
               <mat-form-field class="example-full-width">
                  <input #fNameInfo="ngModel" pattern="^[A-Za-z]+$" required minlength="2" type="text" matInput
                     placeholder="First Name" name="fName" [(ngModel)]="user.fName">
                  <mat-error *ngIf="fNameInfo.errors?.minlength && !fNameInfo.errors?.pattern && fNameInfo.touched">Name
                     too short</mat-error>
                  <mat-error *ngIf="!fNameInfo.errors?.minlength && fNameInfo.errors?.pattern && fNameInfo.touched">Name
                     must contain only English letters</mat-error>
                  <mat-error *ngIf="fNameInfo.errors?.minlength && fNameInfo.errors?.pattern && fNameInfo.touched">Name
                     must contain only English letters</mat-error>
               </mat-form-field>
            </td>
            <!-- Last Name field -->
            <td>
               <mat-form-field class="add-user-full-width">
                  <input #lNameInfo="ngModel" pattern="^[A-Za-z]+$" required minlength="2" type="text" matInput
                     placeholder="Last Name" name="lName" [(ngModel)]="user.lName">
                  <mat-error *ngIf="lNameInfo.errors?.minlength && !lNameInfo.errors?.pattern && lNameInfo.touched">Name
                     too short</mat-error>
                  <mat-error *ngIf="!lNameInfo.errors?.minlength && lNameInfo.errors?.pattern && lNameInfo.touched">Name
                     must contain only English letters</mat-error>
                  <mat-error *ngIf="lNameInfo.errors?.minlength && lNameInfo.errors?.pattern && lNameInfo.touched">Name
                     must contain only English letters</mat-error>
               </mat-form-field>
            </td>
            <!-- Gender field -->
            <td>
               <mat-form-field class="add-user-full-width">
                  <mat-label>gender</mat-label>
                  <mat-select required name="gender" [(ngModel)]="user.userGender">
                     <mat-option value="Female">Female</mat-option>
                     <mat-option value="Male">Male</mat-option>
                  </mat-select>
               </mat-form-field>
            </td>
         </tr>
         <tr>
            <!-- ID Number field -->
            <td>
               <mat-form-field class="example-full-width">
                  <input #idNumberInfo="ngModel" pattern="^\d+$" required minlength="9" maxlength="9" type="text"
                     matInput placeholder=" ID Number" name="idNumber" [(ngModel)]="user.id">
                  <mat-hint>ID contain 9 digits </mat-hint>
                  <mat-error
                     *ngIf="idNumberInfo.errors?.minlength && !idNumberInfo.errors?.pattern && idNumberInfo.touched">ID
                     too
                     short</mat-error>
                  <mat-error *ngIf="idNumberInfo.errors?.pattern && idNumberInfo.touched">ID contain only digits
                  </mat-error>
               </mat-form-field>
            </td>
            <!-- Birthdate field -->
            <td>
               <mat-form-field class="register-full-width">
                  <input #resultPickerModel="ngModel" [matDatepicker]="resultPicker" matInput [min]="minDate"
                     [max]="maxDate" placeholder="Birthdate" name="bDay" [(ngModel)]="user.bDate">
                  <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                  <mat-datepicker #resultPicker></mat-datepicker>
                  <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">
                     "{{resultPickerModel.getError('matDatepickerParse').text}}"
                     is not a valid date!
                  </mat-error>
                  <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMin')">
                     Driver aged between 18 – 85</mat-error>
                  <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMax')">
                     Driver aged must be between 18 – 85</mat-error>
               </mat-form-field>
            </td>
         </tr>
         <tr>
            <td>
               <!-- User Name field -->
               <mat-form-field class="example-full-width">
                  <input #userNameInfo="ngModel" pattern="^[A-Z]([A-Z|a-z|\d])+$" required minlength="3" type="text"
                     matInput placeholder="Choose User Name" name="uName" [(ngModel)]="user.uName">
                  <mat-error
                     *ngIf="userNameInfo.errors?.minlength && !userNameInfo.errors?.pattern && userNameInfo.touched">
                     User
                     Name too short</mat-error>
                  <mat-error
                     *ngIf="userNameInfo.errors?.pattern && userNameInfo.errors?.minlength && userNameInfo.touched">User
                     name must start with Capital letter and can contain only English letters and digits </mat-error>
                  <mat-error
                     *ngIf="userNameInfo.errors?.pattern && !userNameInfo.errors?.minlength && userNameInfo.touched">
                     User
                     name must start with Capital letter and can contain only English letters and digit</mat-error>
               </mat-form-field>
            </td>
            <!-- Password field -->
            <td>
               <mat-form-field class="add-user-full-width">
                  <input #passwordInfo="ngModel" pattern="^[A-Z].{5,9}$" required maxlength="10" type="password"
                     matInput placeholder="Choose Password" name="password" [(ngModel)]="user.userPassword">
                  <mat-hint>Password must start with Capital letter & conatain between 6-10 letters </mat-hint>
                  <mat-error *ngIf="passwordInfo.errors?.pattern && passwordInfo.touched">Invaild password</mat-error>
               </mat-form-field>
            </td>
            <!-- Role field -->
            <td>
               <mat-form-field class="register-full-width">
                  <mat-label>Role</mat-label>
                  <mat-select required name="Role" [(ngModel)]="user.userRole">
                     <mat-option value="Admin">Admin</mat-option>
                     <mat-option value="Employee">Employee</mat-option>
                     <mat-option value="Customer">Customer</mat-option>
                  </mat-select>
               </mat-form-field>
            </td>
         </tr>
         <tr>
            <!-- Email field -->
            <td>
               <mat-form-field class="add-user-full-width">
                  <input #emailInfo="ngModel" pattern="^[\w.]+@[\w.]+\.[A-Za-z.]{2,5}$" required type="email" matInput
                     placeholder="Email" name="email" [(ngModel)]="user.userEmail">
                  <mat-error *ngIf="emailInfo.errors?.required && emailInfo.touched">Missing email</mat-error>
                  <mat-error *ngIf="emailInfo.errors?.pattern && emailInfo.touched">Invaild email</mat-error>
               </mat-form-field>
            </td>
         </tr>
      </table>
      <!-- Image field -->
      <p>
         <img [src]="imageUrl" style="width:140px;height:110px">
         <input class="addImage" type="file" #Image accept="image/*" (change)="onFileSelect($event)"
            (change)="handleFileInput($event.target.files)">
      </p>
   </form>
   <br>
   <!-- Buttons fields -->
   <button mat-fab color="warn" [disabled]="formInfo.form.invalid" (click)="addUser()">Add</button>
   <a mat-fab color="warn" routerLink="/admin//manage-users">Back</a>
   <br><br>
</div>