h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    font-size: small;
}

mat-spinner{
    margin: auto;
}

button{
    font-size: small;
}
 
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 13%;
}

td{
    text-align: left;
}

.td-2, .th-2{
    padding-left: 20px;
}

