<section>
    <aside>
        <div class="div-aside">
            <button mat-raised-button color="warn" routerLink="/admin/manage-cars" routerLinkActive="active">Manage
                Cars</button>
            <button mat-raised-button color="warn" routerLink="/admin/manage-cars-type" routerLinkActive="active">Manage
                Cars Type</button>
            <button mat-raised-button color="warn" routerLink="/admin/manage-users" routerLinkActive="active">Manage
                Users</button>
            <button mat-raised-button color="warn" routerLink="/admin/manage-orders" routerLinkActive="active">Manage
                Orders</button>
        </div>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>