<div class="bgimg-1">
    <div class="h2">
        <br>
        <br>
        <h2 class="py-5 text-center">Welcome <span *ngIf=isLoggedIn>{{user.fName}}</span></h2>
    </div>
    <div class="mat-elevation-z8">
        <p>
            No matter where you need to go, Adi Rent has the right car rental for you.<br>
            We offer you to choose from a wide variety of cars. <br>
            New high quality vehicles meeting your needs<br>and budget best.
            <br><br>
            Click <a routerLink="/search-car">here</a> to find your car
            <br>
            If you have any question please <a routerLink="/contact-us">contact-us</a>
        </p>
    </div>
</div>