.mat-elevation-z8{
    margin-top: 30px;
    background-color: rgba(190, 187, 187, 0.212);
    text-align: center;
}

table{
    margin: auto;
}

h2{
    padding-top: 10px;
}

a{
    margin-left: 40px;
}


