h3{
  font-family: 'Lora', serif;
}

.add-car-type-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: medium;
  padding-left: 10%;
  margin: auto;
}

.carType-full-width {
  width: 100%;
  padding-top: 5px;
}

.mat-elevation-z8{
text-align: center;
padding-top: 3px;
text-align: center;
padding-right: 15px;
background-color: rgba(212, 207, 207, 0.212);
}

td {
  padding-right: 30px;
}

a{
  margin-left: 40px;
}

