.mat-elevation-z8{
    margin-top: 30px;
    background-color: rgba(190, 187, 187, 0.212);
    text-align: center;
}

table{
     margin: auto;
}

.update-full-width{
    font-size: medium;
}

a{
    margin-left: 40px;
}

img{
    width:100px;
    height:90px
}

td{
    padding-left: 40px;;
}

p{
    text-align: center;
}
 